<style>
  #editor { height: 600px !important; }
</style>
<div class="container" style="padding: 0 50px 50px 50px">
  <div class="form-container">
    <form
      action="/admin/gioi-thieu"
      method="post"
      onsubmit="return validateForm()"
    >
      <div class="form-group">
        <label>Nội dung bài viết</label>
        <textarea
          class="form-control"
          id="editor"
          name="content"
          rows="3"
          required
        >{{about.content}}</textarea>
      </div>

      <div class="form-group">
        <label>Tiêu đề bài viết</label>
        <input
          class="form-control"
          type="text"
          name="seo_title"
          required
          value="{{about.seo_title}}"
        />
      </div>
      <div class="form-group">
        <label>Từ khóa SEO</label>
        <input
          class="form-control"
          type="text"
          name="seo_keywords"
          required
          value="{{about.seo_keywords}}"
        />
      </div>
      <div class="form-group">
        <label>Mô tả Description</label>
        <textarea
          class="form-control"
          name="seo_description"
          rows="3"
          required
        >{{about.seo_description}}</textarea>
      </div>

      <button type="submit" class="btn btn-success p-2">Cập nhật</button>
    </form>
  </div>
</div>
<script>
  CKEDITOR.replace('editor');

  function validateForm() {
    var content = document.querySelector('textarea[name="content"]').value;
    var seo_title = document.querySelector('input[name="seo_title"]').value;
    var seo_keywords = document.querySelector('input[name="seo_keywords"]').value;
    var seo_description = document.querySelector('textarea[name="seo_description"]').value;

    if (content.trim() === "" || seo_title.trim() === "" || seo_keywords.trim() === "" || seo_description.trim() === "") {
      alert("Vui lòng nhập đầy đủ thông tin");
      return false;
    }

    return true;
  }
</script>