<div class="container" style="padding: 0 50px 50px 50px">
     <div class="form-container">
          <form action="" method="post">
               <div class="row" style="justify-content: space-between;">
                    <h3>Thông tin liên hệ</h3>
                    <button type="submit" class="btn btn-success ">Cập nhật</button>
               </div>
               <div class="form-top row">

                    <div class="form-top-left col-6">
                         <div class="form-group">
                              <label>Tên trang website</label>
                              <input class="form-control" type="text" name="name" />
                         </div>
                         <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" name="email" />
                         </div>
                         <div class="form-group">
                              <label>Số điện thoại</label>
                              <input class="form-control" type="text" name="phoneNumber" />
                         </div>
                         <div class="form-group">
                              <label>Địa chỉ</label>
                              <input class="form-control" type="text" name="address" />
                         </div>
                    </div>

                    <div class="form-top-right col-6">
                         <div class="form-group">
                              <label>Tên đăng nhập admin</label>
                              <input class="form-control" type="text" name="username" />
                         </div>
                         <div class="form-group">
                              <label>Mật khẩu</label>
                              <input class="form-control" type="password" name="password" />
                         </div>
                         <div class="form-group">
                              <label>Liết kết trang facebook</label>
                              <input class="form-control" type="text" name="facebook_id" />
                         </div>
                         <div class="form-group">
                              <label>Số điện thoại zalo</label>
                              <input class="form-control" type="text" name="zalo_phoneNumber" />
                         </div>
                    </div>
               </div>
               <div class="form-bottom">
                    <h3>Cấu hình cho trang website</h3>
                    <div class="form-group">
                         <label>Tiêu đề trang website</label>
                         <input class="form-control" type="text" name="seo_title" />
                    </div>
                    <div class="form-group">
                         <label>Từ khóa SEO</label>
                         <input class="form-control" type="text" name="seo_keywords" />
                    </div>
                    <div class="form-group">
                         <label>Mô tả Description</label>
                         <textarea class="form-control" name="seo_description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                         <label>Liên kết google map</label>
                         <textarea class="form-control" name="google_map" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                         <label>Mã Script chèn thêm</label>
                         <textarea class="form-control" name="head_script" rows="3"></textarea>
                    </div>
               </div>
               <button type="submit" class="btn btn-success p-2">Cập nhật</button>
          </form>
     </div>
</div>