<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 py-5">
  <div class="container">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Liên Hệ</h1>

  </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.0000001s">
        <h6 class="text-secondary text-uppercase">thông tin tương tác</h6>
        <h1 class="mb-4">Liên lạc với chúng tôi để được tư vấn các thông tin chi
          tiết</h1>
        <p class="mb-4">Quý khách vui lòng điền các thông tin liên hệ ở form bên
          cạnh để được nhân viên của chúng tôi liên lạc và giải đáp chi tiết các
          thắc mắc nhé ❤
        <div class="google-map" style="width: 100%;overflow: hidden;">
          {{{admin.google_map}}}
        </div>
      </div>
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.00000001s">
        <div class="bg-light p-5 h-100 d-flex align-items-center">
          <form>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="name" placeholder="Your Name" required />
                  <label for="name">Họ và Tên(*)</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email" placeholder="Your Email" required />
                  <label for="email">Email(*)</label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control" id="subject" placeholder="Subject" required />
                  <label for="subject">Số điện thoại(*)</label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a message here" id="message"
                    style="height: 150px"></textarea>
                  <label for="message">Câu hỏi chi tiết cần giải đáp(nếu có)</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Gửi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->