<style>
     .icon-fixed {
          text-align: center;
          position: fixed;
          z-index: 9;
          left: 1%;
          bottom: 1%;
     }

     .icon-fixed img {
          height: 60px;
          width: 60px;
          margin: 5px;
     }
</style>

<div class="icon-fixed">

     <div class="zalo"><a href=""><img src="/images/zalo.png" alt=""></a></div>
     <div class="messenger"><a href=""><img src="/images/mess.gif" alt=""></a></div>
     <div class="call">
          <a href=""><img style="height: 90px !important; width: 90px !important; margin: 0px !important"
                    src="/images/call.gif" alt=""></a>
     </div>
</div>