<!-- Team Start -->
{{#each categoryAPI}}
{{#if length}}

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.0000001s">
      <h1 class="mb-5">{{name}}</h1>
    </div>
    <div class="row g-4">

      {{#each products}}

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0000001s" style="text-align: center;">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="{{this.image}}" alt="">
          </div>
          <div class="team-text">
            <div class="bg-light">
              <h5 class="fw-bold mb-0">{{this.name}}</h5>
              <small>{{../name}}</small>
            </div>
            <div class="bg-primary">
              <a class="btn btn-square mx-1" href="">Đặt mẫu này</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}


    </div>
  </div>
</div>
{{/if}}
{{/each}}

<!-- Team End -->